@charset "UTF-8";

ul {
    list-style-type: none;
}
a {
    color: "#000";
    text-decoration: none;
}
a:visited {
    color: "#000";
    text-decoration: none;
}
a::target-text {
    color: "white";
}
